
.color_FFFFFF {color:#FFFFFF !important;}
.background_FFFFFF {background-color:#FFFFFF !important;}
.border_FFFFFF {border-color:#FFFFFF !important;} 	
.color_FFFFCC {color:#FFFFCC !important;}
.background_FFFFCC {background-color:#FFFFCC !important;}
.border_FFFFCC {border-color:#FFFFCC !important;} 	
.color_FFFF99 {color:#FFFF99 !important;}
.background_FFFF99 {background-color:#FFFF99 !important;}
.border_FFFF99 {border-color:#FFFF99 !important;} 	
.color_FFFF66 {color:#FFFF66 !important;}
.background_FFFF66 {background-color:#FFFF66 !important;}
.border_FFFF66 {border-color:#FFFF66 !important;} 	
.color_FFFF33 {color:#FFFF33 !important;}
.background_FFFF33 {background-color:#FFFF33 !important;}
.border_FFFF33 {border-color:#FFFF33 !important;} 	
.color_FFFF00 {color:#FFFF00 !important;}
.background_FFFF00 {background-color:#FFFF00 !important;}
.border_FFFF00 {border-color:#FFFF00 !important;}

.color_FFCCFF {color:#FFCCFF !important;}
.background_FFCCFF {background-color:#FFCCFF !important;}
.border_FFCCFF {border-color:#FFCCFF !important;} 	
.color_FFCCCC {color:#FFCCCC !important;}
.background_FFCCCC {background-color:#FFCCCC !important;}
.border_FFCCCC {border-color:#FFCCCC !important;} 	
.color_FFCC99 {color:#FFCC99 !important;}
.background_FFCC99 {background-color:#FFCC99 !important;}
.border_FFCC99 {border-color:#FFCC99 !important;} 	
.color_FFCC66 {color:#FFCC66 !important;}
.background_FFCC66 {background-color:#FFCC66 !important;}
.border_FFCC66 {border-color:#FFCC66 !important;} 	
.color_FFCC33 {color:#FFCC33 !important;}
.background_FFCC33 {background-color:#FFCC33 !important;}
.border_FFCC33 {border-color:#FFCC33 !important;} 	
.color_FFCC00 {color:#FFCC00 !important;}
.background_FFCC00 {background-color:#FFCC00 !important;}
.border_FFCC00 {border-color:#FFCC00 !important;}

.color_FF99FF {color:#FF99FF !important;}
.background_FF99FF {background-color:#FF99FF !important;}
.border_FF99FF {border-color:#FF99FF !important;} 	
.color_FF99CC {color:#FF99CC !important;}
.background_FF99CC {background-color:#FF99CC !important;}
.border_FF99CC {border-color:#FF99CC !important;} 	
.color_FF9999 {color:#FF9999 !important;}
.background_FF9999 {background-color:#FF9999 !important;}
.border_FF9999 {border-color:#FF9999 !important;} 	
.color_FF9966 {color:#FF9966 !important;}
.background_FF9966 {background-color:#FF9966 !important;}
.border_FF9966 {border-color:#FF9966 !important;} 	
.color_FF9933 {color:#FF9933 !important;}
.background_FF9933 {background-color:#FF9933 !important;}
.border_FF9933 {border-color:#FF9933 !important;} 	
.color_FF9900 {color:#FF9900 !important;}
.background_FF9900 {background-color:#FF9900 !important;}
.border_FF9900 {border-color:#FF9900 !important;}

.color_FF66FF {color:#FF66FF !important;}
.background_FF66FF {background-color:#FF66FF !important;}
.border_FF66FF {border-color:#FF66FF !important;} 	
.color_FF66CC {color:#FF66CC !important;}
.background_FF66CC {background-color:#FF66CC !important;}
.border_FF66CC {border-color:#FF66CC !important;} 	
.color_FF6699 {color:#FF6699 !important;}
.background_FF6699 {background-color:#FF6699 !important;}
.border_FF6699 {border-color:#FF6699 !important;} 	
.color_FF6666 {color:#FF6666 !important;}
.background_FF6666 {background-color:#FF6666 !important;}
.border_FF6666 {border-color:#FF6666 !important;} 	
.color_FF6633 {color:#FF6633 !important;}
.background_FF6633 {background-color:#FF6633 !important;}
.border_FF6633 {border-color:#FF6633 !important;} 	
.color_FF6600 {color:#FF6600 !important;}
.background_FF6600 {background-color:#FF6600 !important;}
.border_FF6600 {border-color:#FF6600 !important;}

.color_FF33FF {color:#FF33FF !important;}
.background_FF33FF {background-color:#FF33FF !important;}
.border_FF33FF {border-color:#FF33FF !important;} 	
.color_FF33CC {color:#FF33CC !important;}
.background_FF33CC {background-color:#FF33CC !important;}
.border_FF33CC {border-color:#FF33CC !important;} 	
.color_FF3399 {color:#FF3399 !important;}
.background_FF3399 {background-color:#FF3399 !important;}
.border_FF3399 {border-color:#FF3399 !important;} 	
.color_FF3366 {color:#FF3366 !important;}
.background_FF3366 {background-color:#FF3366 !important;}
.border_FF3366 {border-color:#FF3366 !important;} 	
.color_FF3333 {color:#FF3333 !important;}
.background_FF3333 {background-color:#FF3333 !important;}
.border_FF3333 {border-color:#FF3333 !important;} 	
.color_FF3300 {color:#FF3300 !important;}
.background_FF3300 {background-color:#FF3300 !important;}
.border_FF3300 {border-color:#FF3300 !important;}

.color_FF00FF {color:#FF00FF !important;}
.background_FF00FF {background-color:#FF00FF !important;}
.border_FF00FF {border-color:#FF00FF !important;} 	
.color_FF00CC {color:#FF00CC !important;}
.background_FF00CC {background-color:#FF00CC !important;}
.border_FF00CC {border-color:#FF00CC !important;} 	
.color_FF0099 {color:#FF0099 !important;}
.background_FF0099 {background-color:#FF0099 !important;}
.border_FF0099 {border-color:#FF0099 !important;} 	
.color_FF0066 {color:#FF0066 !important;}
.background_FF0066 {background-color:#FF0066 !important;}
.border_FF0066 {border-color:#FF0066 !important;} 	
.color_FF0033 {color:#FF0033 !important;}
.background_FF0033 {background-color:#FF0033 !important;}
.border_FF0033 {border-color:#FF0033 !important;} 	
.color_FF0000 {color:#FF0000 !important;}
.background_FF0000 {background-color:#FF0000 !important;}
.border_FF0000 {border-color:#FF0000 !important;}

.color_CCFFFF {color:#CCFFFF !important;}
.background_CCFFFF {background-color:#CCFFFF !important;}
.border_CCFFFF {border-color:#CCFFFF !important;} 	
.color_CCFFCC {color:#CCFFCC !important;}
.background_CCFFCC {background-color:#CCFFCC !important;}
.border_CCFFCC {border-color:#CCFFCC !important;} 	
.color_CCFF99 {color:#CCFF99 !important;}
.background_CCFF99 {background-color:#CCFF99 !important;}
.border_CCFF99 {border-color:#CCFF99 !important;} 	
.color_CCFF66 {color:#CCFF66 !important;}
.background_CCFF66 {background-color:#CCFF66 !important;}
.border_CCFF66 {border-color:#CCFF66 !important;} 	
.color_CCFF33 {color:#CCFF33 !important;}
.background_CCFF33 {background-color:#CCFF33 !important;}
.border_CCFF33 {border-color:#CCFF33 !important;} 	
.color_CCFF00 {color:#CCFF00 !important;}
.background_CCFF00 {background-color:#CCFF00 !important;}
.border_CCFF00 {border-color:#CCFF00 !important;}

.color_CCCCFF {color:#CCCCFF !important;}
.background_CCCCFF {background-color:#CCCCFF !important;}
.border_CCCCFF {border-color:#CCCCFF !important;} 	
.color_CCCCCC {color:#CCCCCC !important;}
.background_CCCCCC {background-color:#CCCCCC !important;}
.border_CCCCCC {border-color:#CCCCCC !important;} 	
.color_CCCC99 {color:#CCCC99 !important;}
.background_CCCC99 {background-color:#CCCC99 !important;}
.border_CCCC99 {border-color:#CCCC99 !important;} 	
.color_CCCC66 {color:#CCCC66 !important;}
.background_CCCC66 {background-color:#CCCC66 !important;}
.border_CCCC66 {border-color:#CCCC66 !important;} 	
.color_CCCC33 {color:#CCCC33 !important;}
.background_CCCC33 {background-color:#CCCC33 !important;}
.border_CCCC33 {border-color:#CCCC33 !important;} 	
.color_CCCC00 {color:#CCCC00 !important;}
.background_CCCC00 {background-color:#CCCC00 !important;}
.border_CCCC00 {border-color:#CCCC00 !important;}

.color_CC99FF {color:#CC99FF !important;}
.background_CC99FF {background-color:#CC99FF !important;}
.border_CC99FF {border-color:#CC99FF !important;} 	
.color_CC99CC {color:#CC99CC !important;}
.background_CC99CC {background-color:#CC99CC !important;}
.border_CC99CC {border-color:#CC99CC !important;} 	
.color_CC9999 {color:#CC9999 !important;}
.background_CC9999 {background-color:#CC9999 !important;}
.border_CC9999 {border-color:#CC9999 !important;} 	
.color_CC9966 {color:#CC9966 !important;}
.background_CC9966 {background-color:#CC9966 !important;}
.border_CC9966 {border-color:#CC9966 !important;} 	
.color_CC9933 {color:#CC9933 !important;}
.background_CC9933 {background-color:#CC9933 !important;}
.border_CC9933 {border-color:#CC9933 !important;} 	
.color_CC9900 {color:#CC9900 !important;}
.background_CC9900 {background-color:#CC9900 !important;}
.border_CC9900 {border-color:#CC9900 !important;}

.color_CC66FF {color:#CC66FF !important;}
.background_CC66FF {background-color:#CC66FF !important;}
.border_CC66FF {border-color:#CC66FF !important;} 	
.color_CC66CC {color:#CC66CC !important;}
.background_CC66CC {background-color:#CC66CC !important;}
.border_CC66CC {border-color:#CC66CC !important;} 	
.color_CC6699 {color:#CC6699 !important;}
.background_CC6699 {background-color:#CC6699 !important;}
.border_CC6699 {border-color:#CC6699 !important;} 	
.color_CC6666 {color:#CC6666 !important;}
.background_CC6666 {background-color:#CC6666 !important;}
.border_CC6666 {border-color:#CC6666 !important;} 	
.color_CC6633 {color:#CC6633 !important;}
.background_CC6633 {background-color:#CC6633 !important;}
.border_CC6633 {border-color:#CC6633 !important;} 	
.color_CC6600 {color:#CC6600 !important;}
.background_CC6600 {background-color:#CC6600 !important;}
.border_CC6600 {border-color:#CC6600 !important;}

.color_CC33FF {color:#CC33FF !important;}
.background_CC33FF {background-color:#CC33FF !important;}
.border_CC33FF {border-color:#CC33FF !important;} 	
.color_CC33CC {color:#CC33CC !important;}
.background_CC33CC {background-color:#CC33CC !important;}
.border_CC33CC {border-color:#CC33CC !important;} 	
.color_CC3399 {color:#CC3399 !important;}
.background_CC3399 {background-color:#CC3399 !important;}
.border_CC3399 {border-color:#CC3399 !important;} 	
.color_CC3366 {color:#CC3366 !important;}
.background_CC3366 {background-color:#CC3366 !important;}
.border_CC3366 {border-color:#CC3366 !important;} 	
.color_CC3333 {color:#CC3333 !important;}
.background_CC3333 {background-color:#CC3333 !important;}
.border_CC3333 {border-color:#CC3333 !important;} 	
.color_CC3300 {color:#CC3300 !important;}
.background_CC3300 {background-color:#CC3300 !important;}
.border_CC3300 {border-color:#CC3300 !important;}

.color_CC00FF {color:#CC00FF !important;}
.background_CC00FF {background-color:#CC00FF !important;}
.border_CC00FF {border-color:#CC00FF !important;} 	
.color_CC00CC {color:#CC00CC !important;}
.background_CC00CC {background-color:#CC00CC !important;}
.border_CC00CC {border-color:#CC00CC !important;} 	
.color_CC0099 {color:#CC0099 !important;}
.background_CC0099 {background-color:#CC0099 !important;}
.border_CC0099 {border-color:#CC0099 !important;} 	
.color_CC0066 {color:#CC0066 !important;}
.background_CC0066 {background-color:#CC0066 !important;}
.border_CC0066 {border-color:#CC0066 !important;} 	
.color_CC0033 {color:#CC0033 !important;}
.background_CC0033 {background-color:#CC0033 !important;}
.border_CC0033 {border-color:#CC0033 !important;} 	
.color_CC0000 {color:#CC0000 !important;}
.background_CC0000 {background-color:#CC0000 !important;}
.border_CC0000 {border-color:#CC0000 !important;}

.color_99FFFF {color:#99FFFF !important;}
.background_99FFFF {background-color:#99FFFF !important;}
.border_99FFFF {border-color:#99FFFF !important;} 	
.color_99FFCC {color:#99FFCC !important;}
.background_99FFCC {background-color:#99FFCC !important;}
.border_99FFCC {border-color:#99FFCC !important;} 	
.color_99FF99 {color:#99FF99 !important;}
.background_99FF99 {background-color:#99FF99 !important;}
.border_99FF99 {border-color:#99FF99 !important;} 	
.color_99FF66 {color:#99FF66 !important;}
.background_99FF66 {background-color:#99FF66 !important;}
.border_99FF66 {border-color:#99FF66 !important;} 	
.color_99FF33 {color:#99FF33 !important;}
.background_99FF33 {background-color:#99FF33 !important;}
.border_99FF33 {border-color:#99FF33 !important;} 	
.color_99FF00 {color:#99FF00 !important;}
.background_99FF00 {background-color:#99FF00 !important;}
.border_99FF00 {border-color:#99FF00 !important;}

.color_99CCFF {color:#99CCFF !important;}
.background_99CCFF {background-color:#99CCFF !important;}
.border_99CCFF {border-color:#99CCFF !important;} 	
.color_99CCCC {color:#99CCCC !important;}
.background_99CCCC {background-color:#99CCCC !important;}
.border_99CCCC {border-color:#99CCCC !important;} 	
.color_99CC99 {color:#99CC99 !important;}
.background_99CC99 {background-color:#99CC99 !important;}
.border_99CC99 {border-color:#99CC99 !important;} 	
.color_99CC66 {color:#99CC66 !important;}
.background_99CC66 {background-color:#99CC66 !important;}
.border_99CC66 {border-color:#99CC66 !important;} 	
.color_99CC33 {color:#99CC33 !important;}
.background_99CC33 {background-color:#99CC33 !important;}
.border_99CC33 {border-color:#99CC33 !important;} 	
.color_99CC00 {color:#99CC00 !important;}
.background_99CC00 {background-color:#99CC00 !important;}
.border_99CC00 {border-color:#99CC00 !important;}

.color_9999FF {color:#9999FF !important;}
.background_9999FF {background-color:#9999FF !important;}
.border_9999FF {border-color:#9999FF !important;} 	
.color_9999CC {color:#9999CC !important;}
.background_9999CC {background-color:#9999CC !important;}
.border_9999CC {border-color:#9999CC !important;} 	
.color_999999 {color:#999999 !important;}
.background_999999 {background-color:#999999 !important;}
.border_999999 {border-color:#999999 !important;} 	
.color_999966 {color:#999966 !important;}
.background_999966 {background-color:#999966 !important;}
.border_999966 {border-color:#999966 !important;} 	
.color_999933 {color:#999933 !important;}
.background_999933 {background-color:#999933 !important;}
.border_999933 {border-color:#999933 !important;} 	
.color_999900 {color:#999900 !important;}
.background_999900 {background-color:#999900 !important;}
.border_999900 {border-color:#999900 !important;}

.color_9966FF {color:#9966FF !important;}
.background_9966FF {background-color:#9966FF !important;}
.border_9966FF {border-color:#9966FF !important;} 	
.color_9966CC {color:#9966CC !important;}
.background_9966CC {background-color:#9966CC !important;}
.border_9966CC {border-color:#9966CC !important;} 	
.color_996699 {color:#996699 !important;}
.background_996699 {background-color:#996699 !important;}
.border_996699 {border-color:#996699 !important;} 	
.color_996666 {color:#996666 !important;}
.background_996666 {background-color:#996666 !important;}
.border_996666 {border-color:#996666 !important;} 	
.color_996633 {color:#996633 !important;}
.background_996633 {background-color:#996633 !important;}
.border_996633 {border-color:#996633 !important;} 	
.color_996600 {color:#996600 !important;}
.background_996600 {background-color:#996600 !important;}
.border_996600 {border-color:#996600 !important;}

.color_9933FF {color:#9933FF !important;}
.background_9933FF {background-color:#9933FF !important;}
.border_9933FF {border-color:#9933FF !important;} 	
.color_9933CC {color:#9933CC !important;}
.background_9933CC {background-color:#9933CC !important;}
.border_9933CC {border-color:#9933CC !important;} 	
.color_993399 {color:#993399 !important;}
.background_993399 {background-color:#993399 !important;}
.border_993399 {border-color:#993399 !important;} 	
.color_993366 {color:#993366 !important;}
.background_993366 {background-color:#993366 !important;}
.border_993366 {border-color:#993366 !important;} 	
.color_993333 {color:#993333 !important;}
.background_993333 {background-color:#993333 !important;}
.border_993333 {border-color:#993333 !important;} 	
.color_993300 {color:#993300 !important;}
.background_993300 {background-color:#993300 !important;}
.border_993300 {border-color:#993300 !important;}

.color_9900FF {color:#9900FF !important;}
.background_9900FF {background-color:#9900FF !important;}
.border_9900FF {border-color:#9900FF !important;} 	
.color_9900CC {color:#9900CC !important;}
.background_9900CC {background-color:#9900CC !important;}
.border_9900CC {border-color:#9900CC !important;} 	
.color_990099 {color:#990099 !important;}
.background_990099 {background-color:#990099 !important;}
.border_990099 {border-color:#990099 !important;} 	
.color_990066 {color:#990066 !important;}
.background_990066 {background-color:#990066 !important;}
.border_990066 {border-color:#990066 !important;} 	
.color_990033 {color:#990033 !important;}
.background_990033 {background-color:#990033 !important;}
.border_990033 {border-color:#990033 !important;} 	
.color_990000 {color:#990000 !important;}
.background_990000 {background-color:#990000 !important;}
.border_990000 {border-color:#990000 !important;}

.color_66FFFF {color:#66FFFF !important;}
.background_66FFFF {background-color:#66FFFF !important;}
.border_66FFFF {border-color:#66FFFF !important;} 	
.color_66FFCC {color:#66FFCC !important;}
.background_66FFCC {background-color:#66FFCC !important;}
.border_66FFCC {border-color:#66FFCC !important;} 	
.color_66FF99 {color:#66FF99 !important;}
.background_66FF99 {background-color:#66FF99 !important;}
.border_66FF99 {border-color:#66FF99 !important;} 	
.color_66FF66 {color:#66FF66 !important;}
.background_66FF66 {background-color:#66FF66 !important;}
.border_66FF66 {border-color:#66FF66 !important;} 	
.color_66FF33 {color:#66FF33 !important;}
.background_66FF33 {background-color:#66FF33 !important;}
.border_66FF33 {border-color:#66FF33 !important;} 	
.color_66FF00 {color:#66FF00 !important;}
.background_66FF00 {background-color:#66FF00 !important;}
.border_66FF00 {border-color:#66FF00 !important;}

.color_66CCFF {color:#66CCFF !important;}
.background_66CCFF {background-color:#66CCFF !important;}
.border_66CCFF {border-color:#66CCFF !important;} 	
.color_66CCCC {color:#66CCCC !important;}
.background_66CCCC {background-color:#66CCCC !important;}
.border_66CCCC {border-color:#66CCCC !important;} 	
.color_66CC99 {color:#66CC99 !important;}
.background_66CC99 {background-color:#66CC99 !important;}
.border_66CC99 {border-color:#66CC99 !important;} 	
.color_66CC66 {color:#66CC66 !important;}
.background_66CC66 {background-color:#66CC66 !important;}
.border_66CC66 {border-color:#66CC66 !important;} 	
.color_66CC33 {color:#66CC33 !important;}
.background_66CC33 {background-color:#66CC33 !important;}
.border_66CC33 {border-color:#66CC33 !important;} 	
.color_66CC00 {color:#66CC00 !important;}
.background_66CC00 {background-color:#66CC00 !important;}
.border_66CC00 {border-color:#66CC00 !important;}

.color_6699FF {color:#6699FF !important;}
.background_6699FF {background-color:#6699FF !important;}
.border_6699FF {border-color:#6699FF !important;} 	
.color_6699CC {color:#6699CC !important;}
.background_6699CC {background-color:#6699CC !important;}
.border_6699CC {border-color:#6699CC !important;} 	
.color_669999 {color:#669999 !important;}
.background_669999 {background-color:#669999 !important;}
.border_669999 {border-color:#669999 !important;} 	
.color_669966 {color:#669966 !important;}
.background_669966 {background-color:#669966 !important;}
.border_669966 {border-color:#669966 !important;} 	
.color_669933 {color:#669933 !important;}
.background_669933 {background-color:#669933 !important;}
.border_669933 {border-color:#669933 !important;} 	
.color_669900 {color:#669900 !important;}
.background_669900 {background-color:#669900 !important;}
.border_669900 {border-color:#669900 !important;}

.color_6666FF {color:#6666FF !important;}
.background_6666FF {background-color:#6666FF !important;}
.border_6666FF {border-color:#6666FF !important;} 	
.color_6666CC {color:#6666CC !important;}
.background_6666CC {background-color:#6666CC !important;}
.border_6666CC {border-color:#6666CC !important;} 	
.color_666699 {color:#666699 !important;}
.background_666699 {background-color:#666699 !important;}
.border_666699 {border-color:#666699 !important;} 	
.color_666666 {color:#666666 !important;}
.background_666666 {background-color:#666666 !important;}
.border_666666 {border-color:#666666 !important;} 	
.color_666633 {color:#666633 !important;}
.background_666633 {background-color:#666633 !important;}
.border_666633 {border-color:#666633 !important;} 	
.color_666600 {color:#666600 !important;}
.background_666600 {background-color:#666600 !important;}
.border_666600 {border-color:#666600 !important;}

.color_6633FF {color:#6633FF !important;}
.background_6633FF {background-color:#6633FF !important;}
.border_6633FF {border-color:#6633FF !important;} 	
.color_6633CC {color:#6633CC !important;}
.background_6633CC {background-color:#6633CC !important;}
.border_6633CC {border-color:#6633CC !important;} 	
.color_663399 {color:#663399 !important;}
.background_663399 {background-color:#663399 !important;}
.border_663399 {border-color:#663399 !important;} 	
.color_663366 {color:#663366 !important;}
.background_663366 {background-color:#663366 !important;}
.border_663366 {border-color:#663366 !important;} 	
.color_663333 {color:#663333 !important;}
.background_663333 {background-color:#663333 !important;}
.border_663333 {border-color:#663333 !important;} 	
.color_663300 {color:#663300 !important;}
.background_663300 {background-color:#663300 !important;}
.border_663300 {border-color:#663300 !important;}

.color_6600FF {color:#6600FF !important;}
.background_6600FF {background-color:#6600FF !important;}
.border_6600FF {border-color:#6600FF !important;} 	
.color_6600CC {color:#6600CC !important;}
.background_6600CC {background-color:#6600CC !important;}
.border_6600CC {border-color:#6600CC !important;} 	
.color_660099 {color:#660099 !important;}
.background_660099 {background-color:#660099 !important;}
.border_660099 {border-color:#660099 !important;} 	
.color_660066 {color:#660066 !important;}
.background_660066 {background-color:#660066 !important;}
.border_660066 {border-color:#660066 !important;} 	
.color_660033 {color:#660033 !important;}
.background_660033 {background-color:#660033 !important;}
.border_660033 {border-color:#660033 !important;} 	
.color_660000 {color:#660000 !important;}
.background_660000 {background-color:#660000 !important;}
.border_660000 {border-color:#660000 !important;}

.color_33FFFF {color:#33FFFF !important;}
.background_33FFFF {background-color:#33FFFF !important;}
.border_33FFFF {border-color:#33FFFF !important;} 	
.color_33FFCC {color:#33FFCC !important;}
.background_33FFCC {background-color:#33FFCC !important;}
.border_33FFCC {border-color:#33FFCC !important;} 	
.color_33FF99 {color:#33FF99 !important;}
.background_33FF99 {background-color:#33FF99 !important;}
.border_33FF99 {border-color:#33FF99 !important;} 	
.color_33FF66 {color:#33FF66 !important;}
.background_33FF66 {background-color:#33FF66 !important;}
.border_33FF66 {border-color:#33FF66 !important;} 	
.color_33FF33 {color:#33FF33 !important;}
.background_33FF33 {background-color:#33FF33 !important;}
.border_33FF33 {border-color:#33FF33 !important;} 	
.color_33FF00 {color:#33FF00 !important;}
.background_33FF00 {background-color:#33FF00 !important;}
.border_33FF00 {border-color:#33FF00 !important;}

.color_33CCFF {color:#33CCFF !important;}
.background_33CCFF {background-color:#33CCFF !important;}
.border_33CCFF {border-color:#33CCFF !important;} 	
.color_33CCCC {color:#33CCCC !important;}
.background_33CCCC {background-color:#33CCCC !important;}
.border_33CCCC {border-color:#33CCCC !important;} 	
.color_33CC99 {color:#33CC99 !important;}
.background_33CC99 {background-color:#33CC99 !important;}
.border_33CC99 {border-color:#33CC99 !important;} 	
.color_33CC66 {color:#33CC66 !important;}
.background_33CC66 {background-color:#33CC66 !important;}
.border_33CC66 {border-color:#33CC66 !important;} 	
.color_33CC33 {color:#33CC33 !important;}
.background_33CC33 {background-color:#33CC33 !important;}
.border_33CC33 {border-color:#33CC33 !important;} 	
.color_33CC00 {color:#33CC00 !important;}
.background_33CC00 {background-color:#33CC00 !important;}
.border_33CC00 {border-color:#33CC00 !important;}

.color_3399FF {color:#3399FF !important;}
.background_3399FF {background-color:#3399FF !important;}
.border_3399FF {border-color:#3399FF !important;} 	
.color_3399CC {color:#3399CC !important;}
.background_3399CC {background-color:#3399CC !important;}
.border_3399CC {border-color:#3399CC !important;} 	
.color_339999 {color:#339999 !important;}
.background_339999 {background-color:#339999 !important;}
.border_339999 {border-color:#339999 !important;} 	
.color_339966 {color:#339966 !important;}
.background_339966 {background-color:#339966 !important;}
.border_339966 {border-color:#339966 !important;} 	
.color_339933 {color:#339933 !important;}
.background_339933 {background-color:#339933 !important;}
.border_339933 {border-color:#339933 !important;} 	
.color_339900 {color:#339900 !important;}
.background_339900 {background-color:#339900 !important;}
.border_339900 {border-color:#339900 !important;}

.color_3366FF {color:#3366FF !important;}
.background_3366FF {background-color:#3366FF !important;}
.border_3366FF {border-color:#3366FF !important;} 	
.color_3366CC {color:#3366CC !important;}
.background_3366CC {background-color:#3366CC !important;}
.border_3366CC {border-color:#3366CC !important;} 	
.color_336699 {color:#336699 !important;}
.background_336699 {background-color:#336699 !important;}
.border_336699 {border-color:#336699 !important;} 	
.color_336666 {color:#336666 !important;}
.background_336666 {background-color:#336666 !important;}
.border_336666 {border-color:#336666 !important;} 	
.color_336633 {color:#336633 !important;}
.background_336633 {background-color:#336633 !important;}
.border_336633 {border-color:#336633 !important;} 	
.color_336600 {color:#336600 !important;}
.background_336600 {background-color:#336600 !important;}
.border_336600 {border-color:#336600 !important;}

.color_3333FF {color:#3333FF !important;}
.background_3333FF {background-color:#3333FF !important;}
.border_3333FF {border-color:#3333FF !important;} 	
.color_3333CC {color:#3333CC !important;}
.background_3333CC {background-color:#3333CC !important;}
.border_3333CC {border-color:#3333CC !important;} 	
.color_333399 {color:#333399 !important;}
.background_333399 {background-color:#333399 !important;}
.border_333399 {border-color:#333399 !important;} 	
.color_333366 {color:#333366 !important;}
.background_333366 {background-color:#333366 !important;}
.border_333366 {border-color:#333366 !important;} 	
.color_333333 {color:#333333 !important;}
.background_333333 {background-color:#333333 !important;}
.border_333333 {border-color:#333333 !important;} 	
.color_333300 {color:#333300 !important;}
.background_333300 {background-color:#333300 !important;}
.border_333300 {border-color:#333300 !important;}

.color_3300FF {color:#3300FF !important;}
.background_3300FF {background-color:#3300FF !important;}
.border_3300FF {border-color:#3300FF !important;} 	
.color_3300CC {color:#3300CC !important;}
.background_3300CC {background-color:#3300CC !important;}
.border_3300CC {border-color:#3300CC !important;} 	
.color_330099 {color:#330099 !important;}
.background_330099 {background-color:#330099 !important;}
.border_330099 {border-color:#330099 !important;} 	
.color_330066 {color:#330066 !important;}
.background_330066 {background-color:#330066 !important;}
.border_330066 {border-color:#330066 !important;} 	
.color_330033 {color:#330033 !important;}
.background_330033 {background-color:#330033 !important;}
.border_330033 {border-color:#330033 !important;} 	
.color_330000 {color:#330000 !important;}
.background_330000 {background-color:#330000 !important;}
.border_330000 {border-color:#330000 !important;}

.color_00FFFF {color:#00FFFF !important;}
.background_00FFFF {background-color:#00FFFF !important;}
.border_00FFFF {border-color:#00FFFF !important;} 	
.color_00FFCC {color:#00FFCC !important;}
.background_00FFCC {background-color:#00FFCC !important;}
.border_00FFCC {border-color:#00FFCC !important;} 	
.color_00FF99 {color:#00FF99 !important;}
.background_00FF99 {background-color:#00FF99 !important;}
.border_00FF99 {border-color:#00FF99 !important;} 	
.color_00FF66 {color:#00FF66 !important;}
.background_00FF66 {background-color:#00FF66 !important;}
.border_00FF66 {border-color:#00FF66 !important;} 	
.color_00FF33 {color:#00FF33 !important;}
.background_00FF33 {background-color:#00FF33 !important;}
.border_00FF33 {border-color:#00FF33 !important;} 	
.color_00FF00 {color:#00FF00 !important;}
.background_00FF00 {background-color:#00FF00 !important;}
.border_00FF00 {border-color:#00FF00 !important;}

.color_00CCFF {color:#00CCFF !important;}
.background_00CCFF {background-color:#00CCFF !important;}
.border_00CCFF {border-color:#00CCFF !important;} 	
.color_00CCCC {color:#00CCCC !important;}
.background_00CCCC {background-color:#00CCCC !important;}
.border_00CCCC {border-color:#00CCCC !important;} 	
.color_00CC99 {color:#00CC99 !important;}
.background_00CC99 {background-color:#00CC99 !important;}
.border_00CC99 {border-color:#00CC99 !important;} 	
.color_00CC66 {color:#00CC66 !important;}
.background_00CC66 {background-color:#00CC66 !important;}
.border_00CC66 {border-color:#00CC66 !important;} 	
.color_00CC33 {color:#00CC33 !important;}
.background_00CC33 {background-color:#00CC33 !important;}
.border_00CC33 {border-color:#00CC33 !important;} 	
.color_00CC00 {color:#00CC00 !important;}
.background_00CC00 {background-color:#00CC00 !important;}
.border_00CC00 {border-color:#00CC00 !important;}

.color_0099FF {color:#0099FF !important;}
.background_0099FF {background-color:#0099FF !important;}
.border_0099FF {border-color:#0099FF !important;} 	
.color_0099CC {color:#0099CC !important;}
.background_0099CC {background-color:#0099CC !important;}
.border_0099CC {border-color:#0099CC !important;} 	
.color_009999 {color:#009999 !important;}
.background_009999 {background-color:#009999 !important;}
.border_009999 {border-color:#009999 !important;} 	
.color_009966 {color:#009966 !important;}
.background_009966 {background-color:#009966 !important;}
.border_009966 {border-color:#009966 !important;} 	
.color_009933 {color:#009933 !important;}
.background_009933 {background-color:#009933 !important;}
.border_009933 {border-color:#009933 !important;} 	
.color_009900 {color:#009900 !important;}
.background_009900 {background-color:#009900 !important;}
.border_009900 {border-color:#009900 !important;}

.color_0066FF {color:#0066FF !important;}
.background_0066FF {background-color:#0066FF !important;}
.border_0066FF {border-color:#0066FF !important;} 	
.color_0066CC {color:#0066CC !important;}
.background_0066CC {background-color:#0066CC !important;}
.border_0066CC {border-color:#0066CC !important;} 	
.color_006699 {color:#006699 !important;}
.background_006699 {background-color:#006699 !important;}
.border_006699 {border-color:#006699 !important;} 	
.color_006666 {color:#006666 !important;}
.background_006666 {background-color:#006666 !important;}
.border_006666 {border-color:#006666 !important;} 	
.color_006633 {color:#006633 !important;}
.background_006633 {background-color:#006633 !important;}
.border_006633 {border-color:#006633 !important;} 	
.color_006600 {color:#006600 !important;}
.background_006600 {background-color:#006600 !important;}
.border_006600 {border-color:#006600 !important;}

.color_0033FF {color:#0033FF !important;}
.background_0033FF {background-color:#0033FF !important;}
.border_0033FF {border-color:#0033FF !important;} 	
.color_0033CC {color:#0033CC !important;}
.background_0033CC {background-color:#0033CC !important;}
.border_0033CC {border-color:#0033CC !important;} 	
.color_003399 {color:#003399 !important;}
.background_003399 {background-color:#003399 !important;}
.border_003399 {border-color:#003399 !important;} 	
.color_003366 {color:#003366 !important;}
.background_003366 {background-color:#003366 !important;}
.border_003366 {border-color:#003366 !important;} 	
.color_003333 {color:#003333 !important;}
.background_003333 {background-color:#003333 !important;}
.border_003333 {border-color:#003333 !important;} 	
.color_003300 {color:#003300 !important;}
.background_003300 {background-color:#003300 !important;}
.border_003300 {border-color:#003300 !important;}

.color_0000FF {color:#0000FF !important;}
.background_0000FF {background-color:#0000FF !important;}
.border_0000FF {border-color:#0000FF !important;} 	
.color_0000CC {color:#0000CC !important;}
.background_0000CC {background-color:#0000CC !important;}
.border_0000CC {border-color:#0000CC !important;} 	
.color_000099 {color:#000099 !important;}
.background_000099 {background-color:#000099 !important;}
.border_000099 {border-color:#000099 !important;} 	
.color_000066 {color:#000066 !important;}
.background_000066 {background-color:#000066 !important;}
.border_000066 {border-color:#000066 !important;} 	
.color_000033 {color:#000033 !important;}
.background_000033 {background-color:#000033 !important;}
.border_000033 {border-color:#000033 !important;} 	
.color_000000 {color:#000000 !important;}
.background_000000 {background-color:#000000 !important;}
.border_000000 {border-color:#000000 !important;}
