/* 
 * Reds 
 */
.IndianRed {color:#CD5C5C !important;}
.color_CD5C5C {color:#CD5C5C !important;}
.background_CD5C5C {color:#CD5C5C !important;}
.background_IndianRed {color:#CD5C5C !important;}
.LightCoral {color:#F08080 !important;}
.color_F08080 {color:#F08080 !important;}
.background_F08080 {color:#F08080 !important;}
.background_LightCoral {color:#F08080 !important;}
.Salmon {color:#FA8072 !important;}
.color_FA8072 {color:#FA8072 !important;}
.background_FA8072 {color:#FA8072 !important;}
.background_Salmon {color:#FA8072 !important;}
.DarkSalmon {color:#E9967A !important;}
.color_E9967A {color:#E9967A !important;}
.background_E9967A {color:#E9967A !important;}
.background_DarkSalmon {color:#E9967A !important;}
.LightSalmon {color:#FFA07A !important;}
.color_FFA07A {color:#FFA07A !important;}
.background_FFA07A {color:#FFA07A !important;}
.background_LightSalmon {color:#FFA07A !important;}
.Crimson {color:#DC143C !important;}
.color_DC143C {color:#DC143C !important;}
.background_DC143C {color:#DC143C !important;}
.background_Crimson {color:#DC143C !important;}
.Red {color:#FF0000 !important;}
.color_FF0000 {color:#FF0000 !important;}
.background_FF0000 {color:#FF0000 !important;}
.background_Red {color:#FF0000 !important;}
.FireBrick {color:#B22222 !important;}
.color_B22222 {color:#B22222 !important;}
.background_B22222 {color:#B22222 !important;}
.background_FireBrick {color:#B22222 !important;}
.DarkRed {color:#8B0000 !important;}
.color_8B0000 {color:#8B0000 !important;}
.background_8B0000 {color:#8B0000 !important;}
.background_DarkRed {color:#8B0000 !important;}
/* 
 * Pinks 
 */
.Pink {color:#FFC0CB !important;}
.color_FFC0CB {color:#FFC0CB !important;}
.background_FFC0CB {color:#FFC0CB !important;}
.background_Pink {color:#FFC0CB !important;}
.LightPink {color:#FFB6C1 !important;}
.color_FFB6C1 {color:#FFB6C1 !important;}
.background_FFB6C1 {color:#FFB6C1 !important;}
.background_LightPink {color:#FFB6C1 !important;}
.HotPink {color:#FF69B4 !important;}
.color_FF69B4 {color:#FF69B4 !important;}
.background_FF69B4 {color:#FF69B4 !important;}
.background_HotPink {color:#FF69B4 !important;}
.DeepPink {color:#FF1493 !important;}
.color_FF1493 {color:#FF1493 !important;}
.background_FF1493 {color:#FF1493 !important;}
.background_DeepPink {color:#FF1493 !important;}
.MediumVioletRed {color:#C71585 !important;}
.color_C71585 {color:#C71585 !important;}
.background_C71585 {color:#C71585 !important;}
.background_MediumVioletRed {color:#C71585 !important;}
.PaleVioletRed {color:#DB7093 !important;}
.color_DB7093 {color:#DB7093 !important;}
.background_DB7093 {color:#DB7093 !important;}
.background_PaleVioletRed {color:#DB7093 !important;}
/*
 * Oranges
 */
.LightSalmon {color:#FFA07A !important;}
.color_FFA07A {color:#FFA07A !important;}
.background_FFA07A {color:#FFA07A !important;}
.background_LightSalmon {color:#FFA07A !important;}
.Coral {color:#FF7F50 !important;}
.color_FF7F50 {color:#FF7F50 !important;}
.background_FF7F50 {color:#FF7F50 !important;}
.background_Coral {color:#FF7F50 !important;}
.Tomato {color:#FF6347 !important;}
.color_FF6347 {color:#FF6347 !important;}
.background_FF6347 {color:#FF6347 !important;}
.background_Tomato {color:#FF6347 !important;}
.OrangeRed {color:#FF4500 !important;}
.color_FF4500 {color:#FF4500 !important;}
.background_FF4500 {color:#FF4500 !important;}
.background_OrangeRed {color:#FF4500 !important;}
.DarkOrange {color:#FF8C00 !important;}
.color_FF8C00 {color:#FF8C00 !important;}
.background_FF8C00 {color:#FF8C00 !important;}
.background_DarkOrange {color:#FF8C00 !important;}
.Orange {color:#FFA500 !important;}
.color_FFA500 {color:#FFA500 !important;}
.background_FFA500 {color:#FFA500 !important;}
.background_Orange {color:#FFA500 !important;}
/*
 * Yellows
 */
.Gold {color:#FFD700 !important;}
.color_FFD700 {color:#FFD700 !important;}
.background_FFD700 {color:#FFD700 !important;}
.background_Gold {color:#FFD700 !important;}
.Yellow {color:#FFFF00 !important;}
.color_FFFF00 {color:#FFFF00 !important;}
.background_FFFF00 {color:#FFFF00 !important;}
.background_Yellow {color:#FFFF00 !important;}
.LightYellow {color:#FFFFE0 !important;}
.color_FFFFE0 {color:#FFFFE0 !important;}
.background_FFFFE0 {color:#FFFFE0 !important;}
.background_LightYellow {color:#FFFFE0 !important;}
.LemonChiffon {color:#FFFACD !important;}
.color_FFFACD {color:#FFFACD !important;}
.background_FFFACD {color:#FFFACD !important;}
.background_LemonChiffon {color:#FFFACD !important;}
.LightGoldenrodYellow {color:#FAFAD2 !important;}
.color_FAFAD2 {color:#FAFAD2 !important;}
.background_FAFAD2 {color:#FAFAD2 !important;}
.background_LightGoldenrodYellow {color:#FAFAD2 !important;}
.PapayaWhip {color:#FFEFD5 !important;}
.color_FFEFD5 {color:#FFEFD5 !important;}
.background_FFEFD5 {color:#FFEFD5 !important;}
.background_PapayaWhip {color:#FFEFD5 !important;}
.Moccasin {color:#FFE4B5 !important;}
.color_FFE4B5 {color:#FFE4B5 !important;}
.background_FFE4B5 {color:#FFE4B5 !important;}
.background_Moccasin {color:#FFE4B5 !important;}
.PeachPuff {color:#FFDAB9 !important;}
.color_FFDAB9 {color:#FFDAB9 !important;}
.background_FFDAB9 {color:#FFDAB9 !important;}
.background_PeachPuff {color:#FFDAB9 !important;}
.PaleGoldenrod {color:#EEE8AA !important;}
.color_EEE8AA {color:#EEE8AA !important;}
.background_EEE8AA {color:#EEE8AA !important;}
.background_PaleGoldenrod {color:#EEE8AA !important;}
.Khaki {color:#F0E68C !important;}
.color_F0E68C {color:#F0E68C !important;}
.background_F0E68C {color:#F0E68C !important;}
.background_Khaki {color:#F0E68C !important;}
.DarkKhaki {color:#BDB76B !important;}
.color_BDB76B {color:#BDB76B !important;}
.background_BDB76B {color:#BDB76B !important;}
.background_DarkKhaki {color:#BDB76B !important;}
/*
 * Purples
 */
.Lavender {color:#E6E6FA !important;}
.color_E6E6FA {color:#E6E6FA !important;}
.background_E6E6FA {color:#E6E6FA !important;}
.background_Lavender {color:#E6E6FA !important;}
.Thistle {color:#D8BFD8 !important;}
.color_D8BFD8 {color:#D8BFD8 !important;}
.background_D8BFD8 {color:#D8BFD8 !important;}
.background_Thistle {color:#D8BFD8 !important;}
.Plum {color:#DDA0DD !important;}
.color_DDA0DD {color:#DDA0DD !important;}
.background_DDA0DD {color:#DDA0DD !important;}
.background_Plum {color:#DDA0DD !important;}
.Violet {color:#EE82EE !important;}
.color_EE82EE {color:#EE82EE !important;}
.background_EE82EE {color:#EE82EE !important;}
.background_Violet {color:#EE82EE !important;}
.Orchid {color:#DA70D6 !important;}
.color_DA70D6 {color:#DA70D6 !important;}
.background_DA70D6 {color:#DA70D6 !important;}
.background_Orchid {color:#DA70D6 !important;}
.Fuchsia {color:#FF00FF !important;}
.color_FF00FF {color:#FF00FF !important;}
.background_FF00FF {color:#FF00FF !important;}
.background_Fuchsia {color:#FF00FF !important;}
.Magenta {color:#FF00FF !important;}
.color_FF00FF {color:#FF00FF !important;}
.background_FF00FF {color:#FF00FF !important;}
.background_Magenta {color:#FF00FF !important;}
.MediumOrchid {color:#BA55D3 !important;}
.color_BA55D3 {color:#BA55D3 !important;}
.background_BA55D3 {color:#BA55D3 !important;}
.background_MediumOrchid {color:#BA55D3 !important;}
.MediumPurple {color:#9370DB !important;}
.color_9370DB {color:#9370DB !important;}
.background_9370DB {color:#9370DB !important;}
.background_MediumPurple {color:#9370DB !important;}
.Amethyst {color:#9966CC !important;}
.color_9966CC {color:#9966CC !important;}
.background_9966CC {color:#9966CC !important;}
.background_Amethyst {color:#9966CC !important;}
.BlueViolet {color:#8A2BE2 !important;}
.color_8A2BE2 {color:#8A2BE2 !important;}
.background_8A2BE2 {color:#8A2BE2 !important;}
.background_BlueViolet {color:#8A2BE2 !important;}
.DarkViolet {color:#9400D3 !important;}
.color_9400D3 {color:#9400D3 !important;}
.background_9400D3 {color:#9400D3 !important;}
.background_DarkViolet {color:#9400D3 !important;}
.DarkOrchid {color:#9932CC !important;}
.color_9932CC {color:#9932CC !important;}
.background_9932CC {color:#9932CC !important;}
.background_DarkOrchid {color:#9932CC !important;}
.DarkMagenta {color:#8B008B !important;}
.color_8B008B {color:#8B008B !important;}
.background_8B008B {color:#8B008B !important;}
.background_DarkMagenta {color:#8B008B !important;}
.Purple {color:#800080 !important;}
.color_800080 {color:#800080 !important;}
.background_800080 {color:#800080 !important;}
.background_Purple {color:#800080 !important;}
.Indigo {color:#4B0082 !important;}
.color_4B0082 {color:#4B0082 !important;}
.background_4B0082 {color:#4B0082 !important;}
.background_Indigo {color:#4B0082 !important;}
.SlateBlue {color:#6A5ACD !important;}
.color_6A5ACD {color:#6A5ACD !important;}
.background_6A5ACD {color:#6A5ACD !important;}
.background_SlateBlue {color:#6A5ACD !important;}
.DarkSlateBlue {color:#483D8B !important;}
.color_483D8B {color:#483D8B !important;}
.background_483D8B {color:#483D8B !important;}
.background_DarkSlateBlue {color:#483D8B !important;}
.MediumSlateBlue {color:#7B68EE !important;}
.color_7B68EE {color:#7B68EE !important;}
.background_7B68EE {color:#7B68EE !important;}
.background_MediumSlateBlue {color:#7B68EE !important;}
/* 
 * Greens
 */
.GreenYellow {color:#ADFF2F !important;}
.color_ADFF2F {color:#ADFF2F !important;}
.background_ADFF2F {color:#ADFF2F !important;}
.background_GreenYellow {color:#ADFF2F !important;}
.Chartreuse {color:#7FFF00 !important;}
.color_7FFF00 {color:#7FFF00 !important;}
.background_7FFF00 {color:#7FFF00 !important;}
.background_Chartreuse {color:#7FFF00 !important;}
.LawnGreen {color:#7CFC00 !important;}
.color_7CFC00 {color:#7CFC00 !important;}
.background_7CFC00 {color:#7CFC00 !important;}
.background_LawnGreen {color:#7CFC00 !important;}
.Lime {color:#00FF00 !important;}
.color_00FF00 {color:#00FF00 !important;}
.background_00FF00 {color:#00FF00 !important;}
.background_Lime {color:#00FF00 !important;}
.LimeGreen {color:#32CD32 !important;}
.color_32CD32 {color:#32CD32 !important;}
.background_32CD32 {color:#32CD32 !important;}
.background_LimeGreen {color:#32CD32 !important;}
.PaleGreen {color:#98FB98 !important;}
.color_98FB98 {color:#98FB98 !important;}
.background_98FB98 {color:#98FB98 !important;}
.background_PaleGreen {color:#98FB98 !important;}
.LightGreen {color:#90EE90 !important;}
.color_90EE90 {color:#90EE90 !important;}
.background_90EE90 {color:#90EE90 !important;}
.background_LightGreen {color:#90EE90 !important;}
.MediumSpringGreen {color:#00FA9A !important;}
.color_00FA9A {color:#00FA9A !important;}
.background_00FA9A {color:#00FA9A !important;}
.background_MediumSpringGreen {color:#00FA9A !important;}
.SpringGreen {color:#00FF7F !important;}
.color_00FF7F {color:#00FF7F !important;}
.background_00FF7F {color:#00FF7F !important;}
.background_SpringGreen {color:#00FF7F !important;}
.MediumSeaGreen {color:#3CB371 !important;}
.color_3CB371 {color:#3CB371 !important;}
.background_3CB371 {color:#3CB371 !important;}
.background_MediumSeaGreen {color:#3CB371 !important;}
.SeaGreen {color:#2E8B57 !important;}
.color_2E8B57 {color:#2E8B57 !important;}
.background_2E8B57 {color:#2E8B57 !important;}
.background_SeaGreen {color:#2E8B57 !important;}
.ForestGreen {color:#228B22 !important;}
.color_228B22 {color:#228B22 !important;}
.background_228B22 {color:#228B22 !important;}
.background_ForestGreen {color:#228B22 !important;}
.Green {color:#008000 !important;}
.color_008000 {color:#008000 !important;}
.background_008000 {color:#008000 !important;}
.background_Green {color:#008000 !important;}
.DarkGreen {color:#006400 !important;}
.color_006400 {color:#006400 !important;}
.background_006400 {color:#006400 !important;}
.background_DarkGreen {color:#006400 !important;}
.YellowGreen {color:#9ACD32 !important;}
.color_9ACD32 {color:#9ACD32 !important;}
.background_9ACD32 {color:#9ACD32 !important;}
.background_YellowGreen {color:#9ACD32 !important;}
.OliveDrab {color:#6B8E23 !important;}
.color_6B8E23 {color:#6B8E23 !important;}
.background_6B8E23 {color:#6B8E23 !important;}
.background_OliveDrab {color:#6B8E23 !important;}
.Olive {color:#808000 !important;}
.color_808000 {color:#808000 !important;}
.background_808000 {color:#808000 !important;}
.background_Olive {color:#808000 !important;}
.DarkOliveGreen {color:#556B2F !important;}
.color_556B2F {color:#556B2F !important;}
.background_556B2F {color:#556B2F !important;}
.background_DarkOliveGreen {color:#556B2F !important;}
.MediumAquamarine {color:#66CDAA !important;}
.color_66CDAA {color:#66CDAA !important;}
.background_66CDAA {color:#66CDAA !important;}
.background_MediumAquamarine {color:#66CDAA !important;}
.DarkSeaGreen {color:#8FBC8F !important;}
.color_8FBC8F {color:#8FBC8F !important;}
.background_8FBC8F {color:#8FBC8F !important;}
.background_DarkSeaGreen {color:#8FBC8F !important;}
.LightSeaGreen {color:#20B2AA !important;}
.color_20B2AA {color:#20B2AA !important;}
.background_20B2AA {color:#20B2AA !important;}
.background_LightSeaGreen {color:#20B2AA !important;}
.DarkCyan {color:#008B8B !important;}
.color_008B8B {color:#008B8B !important;}
.background_008B8B {color:#008B8B !important;}
.background_DarkCyan {color:#008B8B !important;}
.Teal {color:#008080 !important;}
.color_008080 {color:#008080 !important;}
.background_008080 {color:#008080 !important;}
.background_Teal {color:#008080 !important;}
/*
 * Blues/Cyans
 */
.Aqua {color:#00FFFF !important;}
.color_00FFFF {color:#00FFFF !important;}
.background_00FFFF {color:#00FFFF !important;}
.background_Aqua {color:#00FFFF !important;}
.Cyan {color:#00FFFF !important;}
.color_00FFFF {color:#00FFFF !important;}
.background_00FFFF {color:#00FFFF !important;}
.background_Cyan {color:#00FFFF !important;}
.LightCyan {color:#E0FFFF !important;}
.color_E0FFFF {color:#E0FFFF !important;}
.background_E0FFFF {color:#E0FFFF !important;}
.background_LightCyan {color:#E0FFFF !important;}
.PaleTurquoise {color:#AFEEEE !important;}
.color_AFEEEE {color:#AFEEEE !important;}
.background_AFEEEE {color:#AFEEEE !important;}
.background_PaleTurquoise {color:#AFEEEE !important;}
.Aquamarine {color:#7FFFD4 !important;}
.color_7FFFD4 {color:#7FFFD4 !important;}
.background_7FFFD4 {color:#7FFFD4 !important;}
.background_Aquamarine {color:#7FFFD4 !important;}
.Turquoise {color:#40E0D0 !important;}
.color_40E0D0 {color:#40E0D0 !important;}
.background_40E0D0 {color:#40E0D0 !important;}
.background_Turquoise {color:#40E0D0 !important;}
.MediumTurquoise {color:#48D1CC !important;}
.color_48D1CC {color:#48D1CC !important;}
.background_48D1CC {color:#48D1CC !important;}
.background_MediumTurquoise {color:#48D1CC !important;}
.DarkTurquoise {color:#00CED1 !important;}
.color_00CED1 {color:#00CED1 !important;}
.background_00CED1 {color:#00CED1 !important;}
.background_DarkTurquoise {color:#00CED1 !important;}
.CadetBlue {color:#5F9EA0 !important;}
.color_5F9EA0 {color:#5F9EA0 !important;}
.background_5F9EA0 {color:#5F9EA0 !important;}
.background_CadetBlue {color:#5F9EA0 !important;}
.SteelBlue {color:#4682B4 !important;}
.color_4682B4 {color:#4682B4 !important;}
.background_4682B4 {color:#4682B4 !important;}
.background_SteelBlue {color:#4682B4 !important;}
.LightSteelBlue {color:#B0C4DE !important;}
.color_B0C4DE {color:#B0C4DE !important;}
.background_B0C4DE {color:#B0C4DE !important;}
.background_LightSteelBlue {color:#B0C4DE !important;}
.PowderBlue {color:#B0E0E6 !important;}
.color_B0E0E6 {color:#B0E0E6 !important;}
.background_B0E0E6 {color:#B0E0E6 !important;}
.background_PowderBlue {color:#B0E0E6 !important;}
.LightBlue {color:#ADD8E6 !important;}
.color_ADD8E6 {color:#ADD8E6 !important;}
.background_ADD8E6 {color:#ADD8E6 !important;}
.background_LightBlue {color:#ADD8E6 !important;}
.SkyBlue {color:#87CEEB !important;}
.color_87CEEB {color:#87CEEB !important;}
.background_87CEEB {color:#87CEEB !important;}
.background_SkyBlue {color:#87CEEB !important;}
.LightSkyBlue {color:#87CEFA !important;}
.color_87CEFA {color:#87CEFA !important;}
.background_87CEFA {color:#87CEFA !important;}
.background_LightSkyBlue {color:#87CEFA !important;}
.DeepSkyBlue {color:#00BFFF !important;}
.color_00BFFF {color:#00BFFF !important;}
.background_00BFFF {color:#00BFFF !important;}
.background_DeepSkyBlue {color:#00BFFF !important;}
.DodgerBlue {color:#1E90FF !important;}
.color_1E90FF {color:#1E90FF !important;}
.background_1E90FF {color:#1E90FF !important;}
.background_DodgerBlue {color:#1E90FF !important;}
.CornflowerBlue {color:#6495ED !important;}
.color_6495ED {color:#6495ED !important;}
.background_6495ED {color:#6495ED !important;}
.background_CornflowerBlue {color:#6495ED !important;}
.MediumSlateBlue {color:#7B68EE !important;}
.color_7B68EE {color:#7B68EE !important;}
.background_7B68EE {color:#7B68EE !important;}
.background_MediumSlateBlue {color:#7B68EE !important;}
.RoyalBlue {color:#4169E1 !important;}
.color_4169E1 {color:#4169E1 !important;}
.background_4169E1 {color:#4169E1 !important;}
.background_RoyalBlue {color:#4169E1 !important;}
.Blue {color:#0000FF !important;}
.color_0000FF {color:#0000FF !important;}
.background_0000FF {color:#0000FF !important;}
.background_Blue {color:#0000FF !important;}
.MediumBlue {color:#0000CD !important;}
.color_0000CD {color:#0000CD !important;}
.background_0000CD {color:#0000CD !important;}
.background_MediumBlue {color:#0000CD !important;}
.DarkBlue {color:#00008B !important;}
.color_00008B {color:#00008B !important;}
.background_00008B {color:#00008B !important;}
.background_DarkBlue {color:#00008B !important;}
.Navy {color:#000080 !important;}
.color_000080 {color:#000080 !important;}
.background_000080 {color:#000080 !important;}
.background_Navy {color:#000080 !important;}
.MidnightBlue {color:#191970 !important;}
.color_191970 {color:#191970 !important;}
.background_191970 {color:#191970 !important;}
.background_MidnightBlue {color:#191970 !important;}
/* 
 * Browns
 */
.Cornsilk {color:#FFF8DC !important;}
.color_FFF8DC {color:#FFF8DC !important;}
.background_FFF8DC {color:#FFF8DC !important;}
.background_Cornsilk {color:#FFF8DC !important;}
.BlanchedAlmond {color:#FFEBCD !important;}
.color_FFEBCD {color:#FFEBCD !important;}
.background_FFEBCD {color:#FFEBCD !important;}
.background_BlanchedAlmond {color:#FFEBCD !important;}
.Bisque {color:#FFE4C4 !important;}
.color_FFE4C4 {color:#FFE4C4 !important;}
.background_FFE4C4 {color:#FFE4C4 !important;}
.background_Bisque {color:#FFE4C4 !important;}
.NavajoWhite {color:#FFDEAD !important;}
.color_FFDEAD {color:#FFDEAD !important;}
.background_FFDEAD {color:#FFDEAD !important;}
.background_NavajoWhite {color:#FFDEAD !important;}
.Wheat {color:#F5DEB3 !important;}
.color_F5DEB3 {color:#F5DEB3 !important;}
.background_F5DEB3 {color:#F5DEB3 !important;}
.background_Wheat {color:#F5DEB3 !important;}
.BurlyWood {color:#DEB887 !important;}
.color_DEB887 {color:#DEB887 !important;}
.background_DEB887 {color:#DEB887 !important;}
.background_BurlyWood {color:#DEB887 !important;}
.Tan {color:#D2B48C !important;}
.color_D2B48C {color:#D2B48C !important;}
.background_D2B48C {color:#D2B48C !important;}
.background_Tan {color:#D2B48C !important;}
.RosyBrown {color:#BC8F8F !important;}
.color_BC8F8F {color:#BC8F8F !important;}
.background_BC8F8F {color:#BC8F8F !important;}
.background_RosyBrown {color:#BC8F8F !important;}
.SandyBrown {color:#F4A460 !important;}
.color_F4A460 {color:#F4A460 !important;}
.background_F4A460 {color:#F4A460 !important;}
.background_SandyBrown {color:#F4A460 !important;}
.Goldenrod {color:#DAA520 !important;}
.color_DAA520 {color:#DAA520 !important;}
.background_DAA520 {color:#DAA520 !important;}
.background_Goldenrod {color:#DAA520 !important;}
.DarkGoldenrod {color:#B8860B !important;}
.color_B8860B {color:#B8860B !important;}
.background_B8860B {color:#B8860B !important;}
.background_DarkGoldenrod {color:#B8860B !important;}
.Peru {color:#CD853F !important;}
.color_CD853F {color:#CD853F !important;}
.background_CD853F {color:#CD853F !important;}
.background_Peru {color:#CD853F !important;}
.Chocolate {color:#D2691E !important;}
.color_D2691E {color:#D2691E !important;}
.background_D2691E {color:#D2691E !important;}
.background_Chocolate {color:#D2691E !important;}
.SaddleBrown {color:#8B4513 !important;}
.color_8B4513 {color:#8B4513 !important;}
.background_8B4513 {color:#8B4513 !important;}
.background_SaddleBrown {color:#8B4513 !important;}
.Sienna {color:#A0522D !important;}
.color_A0522D {color:#A0522D !important;}
.background_A0522D {color:#A0522D !important;}
.background_Sienna {color:#A0522D !important;}
.Brown {color:#A52A2A !important;}
.color_A52A2A {color:#A52A2A !important;}
.background_A52A2A {color:#A52A2A !important;}
.background_Brown {color:#A52A2A !important;}
.Maroon {color:#800000 !important;}
.color_800000 {color:#800000 !important;}
.background_800000 {color:#800000 !important;}
.background_Maroon {color:#800000 !important;}
/*
 * Whites
 */
.White {color:#FFFFFF !important;}
.color_FFFFFF {color:#FFFFFF !important;}
.background_FFFFFF {color:#FFFFFF !important;}
.background_White {color:#FFFFFF !important;}
.Snow {color:#FFFAFA !important;}
.color_FFFAFA {color:#FFFAFA !important;}
.background_FFFAFA {color:#FFFAFA !important;}
.background_Snow {color:#FFFAFA !important;}
.Honeydew {color:#F0FFF0 !important;}
.color_F0FFF0 {color:#F0FFF0 !important;}
.background_F0FFF0 {color:#F0FFF0 !important;}
.background_Honeydew {color:#F0FFF0 !important;}
.MintCream {color:#F5FFFA !important;}
.color_F5FFFA {color:#F5FFFA !important;}
.background_F5FFFA {color:#F5FFFA !important;}
.background_MintCream {color:#F5FFFA !important;}
.Azure {color:#F0FFFF !important;}
.color_F0FFFF {color:#F0FFFF !important;}
.background_F0FFFF {color:#F0FFFF !important;}
.background_Azure {color:#F0FFFF !important;}
.AliceBlue {color:#F0F8FF !important;}
.color_F0F8FF {color:#F0F8FF !important;}
.background_F0F8FF {color:#F0F8FF !important;}
.background_AliceBlue {color:#F0F8FF !important;}
.GhostWhite {color:#F8F8FF !important;}
.color_F8F8FF {color:#F8F8FF !important;}
.background_F8F8FF {color:#F8F8FF !important;}
.background_GhostWhite {color:#F8F8FF !important;}
.WhiteSmoke {color:#F5F5F5 !important;}
.color_F5F5F5 {color:#F5F5F5 !important;}
.background_F5F5F5 {color:#F5F5F5 !important;}
.background_WhiteSmoke {color:#F5F5F5 !important;}
.Seashell {color:#FFF5EE !important;}
.color_FFF5EE {color:#FFF5EE !important;}
.background_FFF5EE {color:#FFF5EE !important;}
.background_Seashell {color:#FFF5EE !important;}
.Beige {color:#F5F5DC !important;}
.color_F5F5DC {color:#F5F5DC !important;}
.background_F5F5DC {color:#F5F5DC !important;}
.background_Beige {color:#F5F5DC !important;}
.OldLace {color:#FDF5E6 !important;}
.color_FDF5E6 {color:#FDF5E6 !important;}
.background_FDF5E6 {color:#FDF5E6 !important;}
.background_OldLace {color:#FDF5E6 !important;}
.FloralWhite {color:#FFFAF0 !important;}
.color_FFFAF0 {color:#FFFAF0 !important;}
.background_FFFAF0 {color:#FFFAF0 !important;}
.background_FloralWhite {color:#FFFAF0 !important;}
.Ivory {color:#FFFFF0 !important;}
.color_FFFFF0 {color:#FFFFF0 !important;}
.background_FFFFF0 {color:#FFFFF0 !important;}
.background_Ivory {color:#FFFFF0 !important;}
.AntiqueWhite {color:#FAEBD7 !important;}
.color_FAEBD7 {color:#FAEBD7 !important;}
.background_FAEBD7 {color:#FAEBD7 !important;}
.background_AntiqueWhite {color:#FAEBD7 !important;}
.Linen {color:#FAF0E6 !important;}
.color_FAF0E6 {color:#FAF0E6 !important;}
.background_FAF0E6 {color:#FAF0E6 !important;}
.background_Linen {color:#FAF0E6 !important;}
.LavenderBlush {color:#FFF0F5 !important;}
.color_FFF0F5 {color:#FFF0F5 !important;}
.background_FFF0F5 {color:#FFF0F5 !important;}
.background_LavenderBlush {color:#FFF0F5 !important;}
.MistyRose {color:#FFE4E1 !important;}
.color_FFE4E1 {color:#FFE4E1 !important;}
.background_FFE4E1 {color:#FFE4E1 !important;}
.background_MistyRose {color:#FFE4E1 !important;}
/*
 * Greys
 */
.Gainsboro {color:#DCDCDC !important;}
.color_DCDCDC {color:#DCDCDC !important;}
.background_DCDCDC {color:#DCDCDC !important;}
.background_Gainsboro {color:#DCDCDC !important;}
.LightGrey {color:#D3D3D3 !important;}
.color_D3D3D3 {color:#D3D3D3 !important;}
.background_D3D3D3 {color:#D3D3D3 !important;}
.background_LightGrey {color:#D3D3D3 !important;}
.Silver {color:#C0C0C0 !important;}
.color_C0C0C0 {color:#C0C0C0 !important;}
.background_C0C0C0 {color:#C0C0C0 !important;}
.background_Silver {color:#C0C0C0 !important;}
.DarkGray {color:#A9A9A9 !important;}
.color_A9A9A9 {color:#A9A9A9 !important;}
.background_A9A9A9 {color:#A9A9A9 !important;}
.background_DarkGray {color:#A9A9A9 !important;}
.Gray {color:#808080 !important;}
.color_808080 {color:#808080 !important;}
.background_808080 {color:#808080 !important;}
.background_Gray {color:#808080 !important;}
.DimGray {color:#696969 !important;}
.color_696969 {color:#696969 !important;}
.background_696969 {color:#696969 !important;}
.background_DimGray {color:#696969 !important;}
.LightSlateGray {color:#778899 !important;}
.color_778899 {color:#778899 !important;}
.background_778899 {color:#778899 !important;}
.background_LightSlateGray {color:#778899 !important;}
.SlateGray {color:#708090 !important;}
.color_708090 {color:#708090 !important;}
.background_708090 {color:#708090 !important;}
.background_SlateGray {color:#708090 !important;}
.DarkSlateGray {color:#2F4F4F !important;}
.color_2F4F4F {color:#2F4F4F !important;}
.background_2F4F4F {color:#2F4F4F !important;}
.background_DarkSlateGray {color:#2F4F4F !important;}
.Black {color:#000000 !important;}
.color_000000 {color:#000000 !important;}
.background_000000 {color:#000000 !important;}
.background_Black {color:#000000 !important;}
